@import "tailwindcss";

/* Configuración de Temas en v4 */
@theme {
  --color-brand-pink: #ff2d92;
  --color-brand-dark: #0b0c10;
  --color-brand-card: #ffffff;
}

/* Variables de sistema de Next.js */
:root {
  --background: #0b0c10;
  --foreground: #ffffff;
}

/* Reset y Estilo Global */
body {
  background-color: var(--background);
  color: var(--foreground);
  /* Degradado sutil para que no sea un negro plano y aburrido */
  background-image: radial-gradient(
    circle at 50% -20%,
    #1a1c23 0%,
    #0b0c10 100%
  );
  background-attachment: fixed;
  min-height: 100vh;
}

/* Forzar que el main ocupe el espacio necesario */
main {
  min-height: calc(100vh - 64px); /* Altura total menos el Navbar */
}

/* Mejora para el scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0c10;
}
::-webkit-scrollbar-thumb {
  background: #ff2d92;
  border-radius: 10px;
}